//
// SIA colors
//

$sia-red: #c62e3a;
$sia-dark-grey: #6d6e71;
$sia-warm-grey: #c3b9b8;
$sia-brown: #cfb9a6;
$sia-warm-grey-light: #d8d7d3;
$sia-light-brown: #e7ceb9;

$body-background-color: $white !default;
$sidebar-color: $sia-warm-grey-light;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$link-color: #c62e3a;
$btn-primary-color: $purple-100 !default;
$base-button-color: #f7f7f7 !default;
